RHVoice.xcodeproj/project.xcworkspace/xcuserdata
RHVoice.xcodeproj/xcuserdata
RHVoice.xcodeprojxcuserdata
Pods
Podfile.lock
swiftlint_report.xml
test-reports
ut.log
code_coverage_result.txt
BuildDerivedData
RHVoice.xcodeproj/xcshareddata/swiftpm/Package.resolved
Core/.swiftpm/xcode/xcuserdata
BuildOutput
RHVoice.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
FastlaneRunner
Gemfile.lock
report.xml
Brewfile.lock.json
UserInterfaceState.xcuserstate
Derived
.build
build
.DS_Store
GeneratedConstants.swift
