#include "common.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = ${EXTENSION_BUNDLE_IDENTIFIER}
CODE_SIGN_ENTITLEMENTS[sdk=macosx*] = RHVoice/Resources/RHVoiceExtensionRegularMacOS.entitlements

// macOS support
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
ENABLE_APP_SANDBOX[sdk=macosx*] = YES
REGISTER_APP_GROUPS = YES
TARGETED_DEVICE_FAMILY = ""

// Supported platforms
SUPPORTED_PLATFORMS = iphoneos iphonesimulator macosx

PRODUCT_MODULE_NAME=RHVoiceExtension
AUDIO_COMPONENTS_DESCRIPTION=${PRODUCT_MODULE_NAME}
AUDIO_COMPONENTS_NAME=${RHVOICE_PRODUCT_NAME}: ${PRODUCT_MODULE_NAME}
AUDIO_COMPONENTS_SUBTYPE=rhvo

#include "../combine.xcconfig"
